input {
    display: none;
}

.photo-upload {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ccc;
    text-align: center;
    line-height: 100px;
    font-size: 36px;
    cursor: pointer;
    margin: 0 auto; /* horizontally center */
}

.board {
    width: 50%;
}