@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  background-color: rgb(20,20,20)!important;
  padding-left: 15%;
}

* {
  margin: 0;
  font-family: "Open Sans";
  color: white;
}

.slick-slide > div {
  margin: 0 10px;
}

.slick-dots li.slick-active button:before {
  color:orange !important;
}