@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  background-color: black!important;
  padding-left: 15%;
}

* {
  margin: 0;
  font-family: "Quicksand";
  color: white;
  transition: all 0.3s ease-in-out;
}